<app-filter (changeSearch)="searchBooks($event)" (changeSelect)="selectTodos($event)"
  (changeTheme)="themeChange($event)"></app-filter>


<div class="todos" [class.color]="darkModeTrue" id="todos">
  <div>
    <div class="todo-container" *ngFor="let todo of todos_todos" (mouseenter)="setHoveredTodo(todo)"
      (mouseleave)="clearHoveredTodo()">
      <!-- ... existing code ... -->
      <div class="todo" *ngIf="todo">
        <div class="todos-text">
          <input type="checkbox" [checked]="todo.status === 'completed'" (change)="onCheckboxChange(todo)"
            class="checkbox">
          <h3 style="margin: 0;" [ngClass]="todo.status">{{todo.title}}</h3>
        </div>
        <div class="actions" *ngIf="hoveredTodo === todo">
          <button (click)="openModal('edit', todo.id)" style="background-color: rgba(240, 248, 255, 0); border: 0;"><i
              class="fa-solid fa-pen grey"></i></button>
          <button (click)="openModal('delete',todo.id, todo)"
            style="background-color: rgba(240, 248, 255, 0); border: 0;"><i class="fa-solid fa-trash grey"></i></button>
        </div>
      </div>
      <!-- ... existing code ... -->
      <hr *ngIf="todo">
    </div>


  </div>

  <!-- 
  <div *ngIf="cloniko">
    <div class="todo-container" *ngFor="let todo of cloniko">
      <div class="todo" *ngIf="todo">
        <div class="todos-text">
          <input type="checkbox" [checked]="todo.status === 'completed'" (change)="onCheckboxChange(todo)">
          <h2 [ngClass]="todo.status">{{todo.title}}</h2>
        </div>
        <div class="actions">
          <button (click)="openModal('edit', todo)"><i class="fa-regular fa-edit"></i></button>
          <button (click)="deleteBlog(todo.id)"><i class="fa-regular fa-trash"></i></button>
        </div>
      </div>
      <hr *ngIf="todo">
    </div>
  </div> -->

  <button class="add" (click)="openModal('add')">
    <i class="fa-solid fa-plus"></i>
  </button>
</div>

<!-- add -->
<div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" style="margin-top: 150px;" role="document">
    <div class="modal-content" [class.darkModal]="darkModeTrue">
      <h3 style="padding: 10px;" [class.color]="darkModeTrue">NEW NOTE</h3>
      <form #addForm="ngForm" class="addform" (ngSubmit)="addTodo(addForm)">
        <input [class.add-edit-input]="!darkModeTrue" [class.add-edit-input-dark]="darkModeTrue" ngModel type="text"
          name="name" id="name" placeholder="input your note" required />
        <div class="modal-footer">
          <button type="button" id="add-employee-form" class="btn btn-secondary close" data-dismiss="modal">
            Cancel
          </button>
          <button [disabled]="addForm.invalid" [class.block]="addForm.invalid" type="submit" class="btn btn-primary">
            Apply
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- edit -->
<div class="modal fade" id="updateEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="employeeEditModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" style="margin-top: 150px;" role="document">
    <div class="modal-content" [class.darkModal]="darkModeTrue">
      <h3 style="padding: 10px;" [class.color]="darkModeTrue">Edit Note</h3>
      <form #editForm="ngForm">
        <input [class.add-edit-input]="!darkModeTrue" [class.add-edit-input-dark]="darkModeTrue" *ngIf="editTodo"
          type="text" [(ngModel)]="editTodo.title" name="note" id="name" placeholder="input your note" required />
        <div class="modal-footer">
          <button type="button" (click)="onSubmit(editForm, editTodo)" id="edit-employee-form"
            class="btn btn-secondary close" data-dismiss="modal">
            Cancel
          </button>
          <button (click)="onSubmit(editForm, editTodo)" [disabled]="editForm.invalid" [class.block]="editForm.invalid"
            type="submit" class="btn btn-primary">
            Apply
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


<app-delete-todo [delTodo]="delTodo" [darkModeTrue]="darkModeTrue"
  (deleteSelected)="deleteBlog($event)"></app-delete-todo>



<div *ngIf="count === 0" style="text-align: center;">
  <img src="../../../assets/Detective-check-footprint 1.png" alt="">
  <br>
  <h3 [class.color]="darkModeTrue" style="font-weight: 200;">Empty...</h3>
</div>