<app-filter (changeSearch)="searchBooks($event)" (changeSelect)="selectTodos($event)"
  (changeTheme)="themeChange($event)"></app-filter>


<div class="todos" [class.color]="darkModeTrue" id="todos">
  <div>
    <div class="todo-container" *ngFor="let todo of todos_todos" (mouseenter)="setHoveredTodo(todo)"
      (mouseleave)="clearHoveredTodo()">
      <!-- ... existing code ... -->
      <div class="todo" *ngIf="todo">
        <div class="todos-text">
          <input type="checkbox" [checked]="todo.status === 'completed'" (change)="onCheckboxChange(todo)"
            class="checkbox">
          <h3 style="margin: 0;" [ngClass]="todo.status">{{todo.title}}</h3>
        </div>
        <div class="actions" *ngIf="hoveredTodo === todo">
          <button (click)="openModal('edit', todo.id)" style="background-color: rgba(240, 248, 255, 0); border: 0;"><i
              class="fa-solid fa-pen grey"></i></button>
          <button (click)="openModal('delete',todo.id, todo)"
            style="background-color: rgba(240, 248, 255, 0); border: 0;"><i class="fa-solid fa-trash grey"></i></button>
        </div>
      </div>
      <hr *ngIf="todo">
    </div>

  </div>

  <button class="add" (click)="openModal('add')">
    <i class="fa-solid fa-plus"></i>
  </button>
</div>



<app-add-todo [darkModeTrue]="darkModeTrue" (addSelected)="addTodo($event)"></app-add-todo>

<app-edit-todo [editTodo]="editTodo" [darkModeTrue]="darkModeTrue" (editSelected)="onSubmit($event)"></app-edit-todo>

<app-delete-todo [delTodo]="delTodo" [darkModeTrue]="darkModeTrue"
  (deleteSelected)="deleteBlog($event)"></app-delete-todo>



<div *ngIf="count === 0" style="text-align: center;">
  <img src="../../../assets/Detective-check-footprint 1.png" alt="">
  <br>
  <h3 [class.color]="darkModeTrue" style="font-weight: 200;">Empty...</h3>
</div>