<div class="container">

  <h1>TODO LIST</h1>
  <div class="filter">
    <form>
      <input type="text" placeholder="Search note..." class="search" name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <select name="" id="">
      <option value="All">All</option>
      <option value="Complete">Complete</option>
      <option value="Incomplete">Incomplete</option>
    </select>
    <i class="fa-regular fa-moon"></i>
  </div>

  <app-todos></app-todos>

</div>