.container{
  width: 750px;
  margin: 100px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.filter{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}


//only elems
.search{
  width: 500px;
  height: 35px;
  border:1px solid #6C63FF;
  border-radius: 4px;
}

form{
  position: relative;
}
button{
  background-color: white;
  border: 0;
  position: absolute;
  right: 5px;
  top: 4px;
}

.fa-search{
  color: #6C63FF;
}

